@use 'typography';

/*color*/
$primary: #F2B116;
$secondary: #E79D00;
$tertiary: #FFF9F2;
$white: #ffffff;
$txt-primary: #192626;
$txt-tertiary: #182C2C;
$txt-secondary: #707070;

/*typography*/
$sans-serif: "Source Sans Pro";
//$serif: Merriweather, Georgia, "Times New Roman", serif;
//$mono: "Source Code Pro", Courier, mono;

/*font weight*/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$extrabold: 900;

/*button mixin*/
@mixin button_styles($background, $color){
    background-color: $background;
    color: $color;
    border-radius: 100px;
    padding: 0;
    line-height: 59px;
    border: 0;
    outline: 0;  
    /*height: 59px;*/
    min-width: 270px;
    font-size: 24px;
    text-align: center;
}
.btn-primary{
    @include button_styles(#DAA10D, #fff);
    &:hover{
        background-color: $primary;
        color: $white;
    }
}
.btn-secondary{
    @include button_styles(#F2F2F2, #343434);
    font-size: 24px;
    &:hover{
        background-color: $primary;
        color: $white;
    }
}




body {
    font-family: $sans-serif;
   
}


.heading-1, .dispaly1{
    font-weight: $extrabold;
    font-size: 100px;  
}
.heading-2{
    font-weight: $extrabold;
    font-size: 60px;
}
.heading-3{
    font-weight: $extrabold;
    font-size: 38px;
    line-height: 48px;
   
}
.heading-4{
    font-weight: $normal;
    font-size: 24px; 
}
.heading-5{
    font-weight: $normal;
    font-size: 20px;    
}
.heading-6{
   
}

.bg-tertiary{
    background-color: $tertiary;
}
.py-100{
    padding-top:100px;
    padding-bottom: 100px;
}
/* -----------------main navigation----------------*/
.main-navigation{
    background-color: $white;
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
    .navbar{
        padding-top: 20px;
        padding-bottom: 20px;
        .nav-item{
            .nav-link{
                font-size: 24px;
                color: $txt-tertiary;
                font-weight: $extrabold;
                &:hover{
                    color: $primary;
                }
            }
            .nav-btn{
                @include button_styles(#DAA10D, #fff);
                font-weight: $bold;
                &:hover{
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
}
.hero{
    
        min-height: 700px;
        align-items: center;
  
}


.card-slider{
    .card{
         border-radius: 60px;
    }
    .card-text{
        h3{
            margin-bottom: 50px;
        }
        a{
            font-size: 28px;
            color: $txt-secondary;
            text-decoration: none; 
        }
    }
    .carousel-indicators{
        position: relative !important;
        margin:0;
        column-gap: 100px;
        button{
            font-size: 24px;
            font-weight: $extrabold;
            width: inherit;
            height: inherit;
            margin:0;
            text-transform: capitalize;
            border-bottom: 5px solid $white;
            padding: 0 20px 10px;
            color: $txt-tertiary;
        }
        .active{
            border-bottom: 5px solid $primary;
            padding: 0 20px 10px;
        }
    }
    .carousel-indicators [data-bs-target]{
        text-indent: inherit;
    }
}

.content-textimg{
    .col-text{
        row-gap: 48px;
        display: flex;
        flex-direction: column;

    }
    .img-text{
        .col-text{
            padding-left: 60px;
            align-items: start;
        }    
    }
    .text-img{
        .col-text{
            padding-right: 60px;
            align-items: end;
        }       
    }
}

.apps-preview{
    margin-bottom: 200px;
    .btn{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .badge-download{
        column-gap: 40px;
    }
}
.brand-partner{
    background-color: #F8F8F8;
    padding: 100px 0;
    .logo-partner{
        column-gap: 13px;
        .card{
            border-radius: 40px;
            border: 2px solid $primary;
            height: 193px;
           
            img{
                height: 154px;
                object-fit: contain;
               
            }
        } 
    }
}