@use 'typography';
//@use 'about';
/*color*/
$primary: #FFC12D;
$secondary: #E79D00;
$tertiary: #FFF9F2;
$white: #ffffff;
$lightgray: #F8F8F8;
$darkgray: #192626;
$mediumgray:#182C2C;
$slategray: #707070;
$red:#D7292E;
$green:#22AF72;
$blue:#005D96;
$maroon:#552E1A;
$gray: #ECECEC;
$sizeTriangle : 20px;
/*Width*/
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;
$xxl : 1400px;
/*end Width*/

.bgprimary{background-color: $primary;}
.bgsecondary{ background-color: $secondary;}
.bgtertiary{background-color: $tertiary;}
.bglightgray{ background-color: $lightgray;}
.bgwhite{background-color: $white;}
.bgred{ background-color: $red;}
.bggreen{ background-color: $green;}
.bgblue{ background-color: $blue;}
.bgmaroon{ background-color: $maroon;}
.bgdarkgray{ background-color: $darkgray;}
.bggray{ background-color: $gray;}
.txt-primary{ color: $primary;}
.txt-tertiary{ color: $tertiary;}
.txt-secondary{ color: $secondary};
.txt-darkgray{ color: $darkgray;}
.txt-mediumgray{ color: $mediumgray;}
.txt-slategray{ color: $slategray;}
.txt-white{color: $white;}
.txt-red{ color: $red;}
.txt-green{ color: $green;}
.txt-blue{ color: $blue;}
.txt-maroon{ color: $maroon;}

/*border*/

/*typography*/
$sans-serif: "Source Sans Pro";


/*font weight*/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$extrabold: 900;


/*button mixin*/
@mixin button_styles($background, $color){
    background-color: $background;
    color: $color;
    border-radius: 100px;
    padding: 5px 20px;
    border: 0;
    outline: 0;  
    font-size: 20px;
    font-weight: $bold;
    text-align: center;
    @media(max-width: 1024px){
        font-size: 18px;
    }
}
.btn-primary{
    @include button_styles(#DAA10D, #fff);
    &:hover{
        background-color: $primary;
        color: $white;
    }
    &:focus{
        background-color: $primary;
        color: $white;
    }
    img{
        filter: brightness(0) invert(1);
    }
}
.btn-secondary{
    @include button_styles(#F2F2F2, #343434);
    font-size: 18px;

    &:hover{
        background-color: $slategray;
        color: $white;
    }
}
.btn-white{
    @include button_styles(#ffffff, #343434);
    font-size: 18px;

    &:hover{
        background-color: $slategray;
        color: $white;
    }
}
.btn-link{
    text-decoration: none;
    color: $slategray;
    font-size: 20px;
    &:hover{
        color: $primary;
    }
    
}

.btn-icon{
    img{
        margin-left: 20px;
        height: 14px;
    }
    &--breadcrumb{
        color: $darkgray;
        img{
            margin-left: 0;
            height: 14px;
            margin-right: 20px;
            transform: rotateY(180deg);
            filter: brightness(0%);
        }
    }
}

.btn-toggle{
    border-radius: 0;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    img{
        margin-right: 40px;
    }
    &:hover{
        background-color: #e9e9e9; 
        color:$primary;
    }
}
/*override container*/
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1300px;
  }
  .btn-lg{
    padding:11px 57px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1300px;
  }
}

body {
    font-family: $sans-serif;
   
}
.fw-light{ font-weight: $light;}
.fw-normal{ font-weight: $normal;}
.fw-semibold{ font-weight: $semibold;}
.fw-bold{ font-weight: $bold;}
.fw-extrabold{ font-weight: $extrabold;}


.bg-stretch {
    position: relative;
    overflow: hidden;
  }
  .bg-stretch .container,
  .bg-stretch .row {
    position: relative;
    z-index: 2;
  }
  .bg-stretch .bg-stretch-left {
    height: 100%;
   
    position: relative;
    left: 0;
    z-index: 1;
    @media(min-width: $xl){
        border-radius: 0 50px 50px 0;
    }
  }
  .bg-stretch .bg-stretch-left::before {
    background-color: inherit;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 1;
  }
  .bg-stretch .bg-stretch-right {
    height: 100%;
  
    position: relative;
    right: 0;
    z-index: 1;
  
    @media(min-width: $xl){
        border-radius: 50px 0 0 50px;
    }
  }
  .bg-stretch .bg-stretch-right::after {
    background-color: inherit;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 1;
  }
.divider-top-primary{ 
    margin-top: -25px;
    span::after{
    @extend .bgprimary;    
    content:" ";
    height: 0;
    padding-top: 5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    display: block;
    width: 100%;
    transform: rotateY(180deg);
    }
}
.divider-bottom-primary{ 
    margin-top: -25px;
    span::after{
    @extend .bgprimary;    
    content:"";
    height: 0;
    padding-top: 5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    display: block;
    width: 100%;
    transform: rotateY(180deg);
    }
}

.divider-bottom-tertiary{ 
    margin-top: -25px;
    position: relative;
    z-index: 9999;
    span::after{
        @extend .bgtertiary;    
        content:"";
        height: 0;
        padding-top: 5%;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 0 0);
        display: block;
        width: 100%;
        transform: rotateY(180deg);
    }
}
.divider-top-lightgray{ 
    margin-top: -25px;
    span::after{
    @extend .bglightgray;    
    content:" ";
    height: 0;
    padding-top: 5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    display: block;
    width: 100%;
    transform: rotateY(180deg);
    }
}
.divider-bottom-lightgray{ 
    margin-top: -25px;
    position: relative;
    z-index: 9999;
    span::after{
        @extend .bglightgray;    
        content:"";
        height: 0;
        padding-top: 5%;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 0 0);
        display: block;
        width: 100%;
        transform: rotateY(180deg);
    }
}
.vertical-line{
    content:"";
    width:2px;
    height: 80px;
    background-color: #F2B116;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin: 0 auto;
    @media(min-width: $xl){
        top: 30px;
    }
    &--herohome{
        height: 50px;
        top: -70px;
        display: block;
        @media(max-width: 980px){
            top: -35px;
            height: 30px;;
        }
    }
    &--career{
        height: 50px;
        top: -120px;
        display: block;
        @media(max-width: 980px){
            top: -65px;
            height: 30px;;
        }
    }
}


.hero-heading{
    height: 400px;
    @media(min-width: $xl){
        height: 530px;
    }    
}
.hero-imgcover{
    // margin-top: -220;
    margin-top: -15vw;
    @media(max-width: $md){
        margin-top: calc(-25vh + 20px);
    }
    .container-overlap{
        // margin-top: -900px;
        margin-top: -45vw;
    }
    
}
.hero-contact{
    margin-top: -350px;
    .img-cover{
        height: 900px;
        width: 100%;
        object-fit: cover;
    }
    .container-overlap{
        margin-top: -500px;
        @media(max-width: 1028px){
            margin-top: -550px;
        }
    }
}
.with-divider{
    content:"";
    h2{
        &:before{
            content:"";
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 25px;
            background: #FFC12D;
        }
        span{
            padding: 0 20px;
            display: block;
            @media(min-width: $xl){
                display: inline-block;
            }
        }
    }
}
.rounded40{
    border-radius: 40px;
}
/* -----------------main navigation----------------*/
.main-navigation{
    background-color: $white;
    @media(min-width: $xl){
        border-top: 1px solid #B8B8B8;
        border-bottom: 1px solid #B8B8B8;
    }
    .navbar{
        @media(min-width: $xl){
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .nav-item{
            .nav-link{
                font-size: 18px;
                color: $mediumgray;
                font-weight: $extrabold;
                &:hover{
                    color: $primary;
                }
                @media(max-width: 1024px){
                    font-size: 18px;
                }
            }
            .nav-btn{
                @include button_styles(#DAA10D, #fff);
                font-weight: $bold;
                &:hover{
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
}
.hero{
    min-height: 50vh;
    align-items: center;
    .container{
        min-height: 50vh;
        display: flex;
        align-items: center;
    }
    @media(min-width: $xl){
        min-height: 80vh;
        .container{
            min-height: 80vh;
            display: flex;
            align-items: center;
        }
    }
}


.card-slider{
    .card{
         border-radius: 60px;
    }
    .card-text{
        h3{
            margin-bottom: 50px;
        }
        a{
            font-size: 16px;
            color: $slategray;
            text-decoration: none; 
            margin-top: 140px;
            display: block;
            background: url(/assets/images/chevron.png) no-repeat;
            background-size: contain;
            height: 10px;
        }
    }
    .carousel-indicators{
        position: relative !important;
        margin:0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // column-gap: 100px;
        button{
            font-size: 18px;
            font-weight: $extrabold;
            width: inherit;
            height: inherit;
            margin:0;
            text-transform: capitalize;
            border-bottom: 5px solid $white;
            padding: 0 20px 10px;
            color: $mediumgray;
        }
        .active{
            border-bottom: 5px solid $primary;
            padding: 0 20px 10px;
        }
    }
    .carousel-indicators [data-bs-target]{
        text-indent: inherit;
        opacity: 1 !important;
    }
}

#carousel-home{
    padding: 75px 20px;
    padding-top: 150px;
    background-color: $white;
    border-radius: 25px;
    @media(max-width: $md){
        padding: 20px 10px;
        padding-top: 30px;
    }
    .carousel-indicators{
        bottom: unset;
        top: 50px;
        background-color: transparent;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        display: none;
       
        @media(min-width: $md){
            display: flex;
        }
    }
    .carousel-indicators [data-bs-target]{
        width: auto;
        height: unset;
        text-indent: 0;
        font-weight: $bold;
        padding: 0 10px 5px 10px;
    }
    .carousel-inner{
        /*width: 80%;*/
        margin: 0 auto;
    }
    .label-indicator{
        border-bottom: 2px solid transparent;
        background-color: transparent;
        text-align: left;
        &.active{
            border-bottom: 3px solid $primary;
        }
    }
    button{
        opacity: 1;
    }
    .carousel-indicators,
    .carousel-inner{
        padding: 0 40px;
        @media(max-width: $md){
            padding: 0 20px;
        }
    }
    .carousel-control-next, .carousel-control-prev{
        width: 8%;
    }
    .carousel-control-prev-icon {
        background-image: url('../images/arrow-dark.svg');
        width: 48px;
        height: 48px;
        &:hover{
            background-image: url('../images/arrow-yellow.svg');
        }
      }
      .carousel-control-next-icon {
        background-image: url('../images/arrow-dark.svg');
        width: 48px;
        height: 48px;
        rotate: 180deg;
        &:hover{
            background-image: url('../images/arrow-yellow.svg');
            rotate: 180deg;
        }
      }
}


#carouselTimeline{
    padding: 0 50px;
    @media(max-width: $sm){
        padding: 0 10px;
    }
    .carousel-inner {
        padding: 1em;
      }
      .card {
        margin: 0 15px;
        border-radius: 10px;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        font-size: 0.9em;
        position: relative;
        z-index: 2;
        min-height: 100%;

        &::after{
            content: " ";
            position: absolute;
            top: 50%;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            z-index: 1;
            width: 0; 
            height: 0; 
            border-top: $sizeTriangle solid transparent;
            border-bottom: $sizeTriangle solid transparent;
            border-left: $sizeTriangle solid $white;
        }
      }

      .carousel-indicators{
        bottom: -50px;
      }
      
      .carousel-control-prev,
      .carousel-control-next {
        width: 32px;
        height: 32px;
        // background-color: $darkgray;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        z-index: 2;
      }
      .carousel-control-prev:hover,
      .carousel-control-next:hover {
        opacity: 0.8;
      }
      .carousel-control-prev{
        left: -16px;
      }
      .carousel-control-next{
        right: -16px;
      }
      @media screen and (min-width: $lg) {
        .carousel-inner {
          display: flex;
        }
        .carousel-item {
          display: block;
          margin-right: 0;
          flex: 0 0 calc(100% / 4);
        }
        .img-wrapper {
          height: 21vw;
        }
      }
}// #carouselTimeline

#carousel-timeline{
    padding: 0 40px;
    .slick-track{
        display: flex !important;
        margin: 0 -5px;
        margin-left: 0;
    }

    .slick-slide{
        height: inherit !important;
        margin: 0 5px;
        > div{
            height: 100%;
        }
    }
    .carousel-timeline-item{
        height: 100%;
        padding: 2.5px 0;
    }

    .card {
        margin: 0 15px;
        border-radius: 10px;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        font-size: 0.9em;
        position: relative;
        z-index: 2;
        min-height: 100%;

        &::after{
            content: " ";
            position: absolute;
            top: 50%;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            z-index: 1;
            width: 0; 
            height: 0; 
            border-top: $sizeTriangle solid transparent;
            border-bottom: $sizeTriangle solid transparent;
            border-left: $sizeTriangle solid $white;
            // box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        }
      }
      .timeline-year{
        margin-bottom: 20px;
        font-weight: $bold;
        span{
            border-bottom: 4px solid $primary;
        }
      }
      .slick-dots{
        bottom: unset;
        top: calc(100% + 20px);
        left: 0;

        .slick-active button{
            border: 2px solid $white;
            border-radius: 100%;
        }
        .slick-active button:before{
            color: $white;
            top: 50%;
            transform: translateY(-50%);
        }
        li button:before{
            color: $white;
            opacity: 1;
            font-size: 13px;
            padding: 2px;
        }
      }

}// #carousel-timeline


.carousel-timeline-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    cursor: pointer;
    &.arrow-prev{
        left: 0;
    }
    &.arrow-next{
        right: 0;
        img{

            transform: rotate(180deg);
        }
    }
    img{
        filter: brightness(0) invert(1);
        width: 100%;
        height: auto;
    }
}// .carousel-timeline-btn
.timeline{
    padding-top: 200px;
    padding-bottom: 100px;
    margin-top: -100px;
}
#carousel-division{

    padding: 0 40px;
    .slick-track{
        display: flex !important;
        margin: 0 -25px;
        margin-left: 0;
    }

    .slick-slide{
        height: inherit !important;
        margin: 0 25px;
        > div{
            height: 100%;
        }
    }
    .carousel-division-item{
        height: 100%;
        padding: 2.5px 0;
    }

    .card {
        margin: 0 15px;
        border-radius: 10px;
        // box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        font-size: 0.9em;
        position: relative;
        z-index: 2;
        min-height: 100%;

      }
      .timeline-year{
        margin-bottom: 20px;
        font-weight: $bold;
        span{
            border-bottom: 4px solid $primary;
        }
      }
      .slick-dots{
        bottom: unset;
        top: calc(100% + 20px);
        left: 0;

        .slick-active button{
            border: 2px solid $primary;
            border-radius: 100%;
        }
        .slick-active button:before{
            color: $primary;
            top: 50%;
            transform: translateY(-50%);
        }
        li button:before{
            color: $primary;
            opacity: 1;
            font-size: 13px;
            padding: 2px;
        }
      }
      .btn-link.btn-icon img{
        display: inline-block;
      }
}// #carousel-division

.carousel-division-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    cursor: pointer;
    &.arrow-prev{
        left: 64px;
        img{
            transform: rotate(180deg);
        }
    }
    &.arrow-next{
        right: 36px;

    }
    img{
        // filter: brightness(0) invert(1);
        width: 100%;
        height: auto;
    }
}// .carousel-division-btn



.float-right{
    float: right;
}
.float-left{
    float: left;
}

.content-textimg{
    .contentwrap{
        z-index: 100;
    }
    .col-text{
        /*row-gap: 48px;
        display: flex;
        flex-direction: column;*/

    }
    .img-text{
        position: relative;
        @media(min-width: $xl){
            .col-text{
                padding-left: 60px;
                align-items: start;
            }  
            margin-bottom: 180px;  
        }
        margin-bottom: 80px;  
        .line-strip{
            &::before{top: 70px;}
        }
    }
    .text-img{
        @media(min-width: $xl){
            .col-text{
                padding-right: 60px;
                align-items: end;
            } 
        }  
        .line-strip{
            &::before{top: 70px; bottom: inherit;}
            @media(min-width: $xl){
                &::before{bottom: 100px; top:inherit;}
                
            }
        }     
    }
    .line-strip{
        &::before{
            content: "";
            height: 60px;
            width: 100%;
            position: absolute;
            left: 0;
            background: $primary;
        }
    }
}
.finhub-featured{
    .border-primary{
        border-color: $primary !important;
    }
    .line-strip{
        &::before{
            content: "";
            height: 200px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom:0;
            background: $primary;
        }
    }
}
.apps-preview{
    margin-bottom: 100px;
    .btn{
        margin-top: 50px;
        margin-bottom: 50px;
        @media(min-width: $xl){
            margin-top: 100px;
        }
    }
    .badge-download{
        column-gap: 40px;
    }
}
.brand-partner{
   
    padding: 100px 0;
    
    .logo-partner{
       
        .card{
            border-radius: 40px;
            border: 2px solid $primary;
            height: 160px;
            @media(min-width: $xl){
                height: 193px;
            }
            img{
                height: 100px;
                object-fit: contain;
                @media(min-width: $xl){
                    height: 154px;
                }
            }
        } 
    }
}

.news-information{
    @extend .bgprimary;
    padding: 100px 0;
 
    .card-news{
        margin-bottom: 80px;
        @media(min-width: $xl){
            margin-bottom: 160px;
        }
    }
    .col-4{
        width: 419px;
        padding:0;
    }
    .card{
        border-radius: 20px;
        padding: 40px 0;
        align-items: center;
         .card-body{
            .heading-4{
                font-weight: $bold;
                margin-top:40px;
                margin-bottom: 32px;
            }
            p{
                /*color: $txt-secondary;*/
                max-width: 294px;
            }
        }
    }
    .img-text{
        .col-text{
            @media(min-width: $xl){
                padding-left: 60px;
                align-items: start;
            }
        }    
    }
   
}
.article{
    a{
        color: $darkgray;
        text-decoration: none;
        &:hover{
            color: $slategray;
        }
    }
}
.contactform{
    .form-control{
        line-height: 34px;
        @media(min-width: $xl){
            line-height: 44px;
        }
    }
    textarea{
        border-radius: 30px;
    }
    @media(max-width: $sm){
        .btn{
            width: 100%;
        }
    }
}

.site-footer{
    .socialmedia{
        ul{
            li{
                margin-left: 10px;
            }
        }
    }
    .col-2-half{
        width:300px;
        margin-right: 50px;
    }
    .col-3-half{
        width: 211px;
        margin-right: 50px;
    }

    a{
       font-size: 20px;
        color: $mediumgray;
        text-decoration: none;
        font-style: italic;
        &:hover{
            color: $primary;
        }
    }
    .subscribe{
        .form-control{
            border-radius: 10px;
            padding: 5px;
            border: 1px solid $slategray;
            outline: none;
        }
        input[type="email"]{
            font-size: 16px;
            color:#BEBEBE;
            outline: none;

        }
        .btn-primary{
           font-size: 20px;
            min-width: 150px;
            line-height: 28px;
            border-radius: 8px;
            font-weight: $bold;
        }
    }
}
.card-box{    
     width: 100%;
     height: 100%;
 
    .heading{
         @extend .fw-bold;
         font-size: 2rem;
         &:first-letter{
            @extend .txt-primary;
            font-size: 2.5rem;
         }
    }
    .description{
         /*color: $txt-secondary;*/
    }
 }


 .card-person{
    overflow: hidden;
    position: relative;
    /*background-color: $white;*/
    border-bottom: 20px solid $primary;
    height: 100%;

    .img-person-wrapper{
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        /*@media(max-width: $md){
            height: 350px;
        }*/
        .img-person{
            display: block;
            width: 100%;
        }
    }
    .box-layer{
        background-color: rgba($primary, .75);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        .contact-social-media{
            display: inline-block;
            img{
                width: 24px;
                height: 24px;
                display: block;
                margin: 0 auto;
            }
        }
        .contact-email{
            display: block;
            a{
                color: $white;
                text-decoration: none;
            }
            img{
                width: 24px;
                height: 24px;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .box-content{
        position: relative;
        padding: 20px;

        .person-name{
           // @extend .heading-4;
            @extend .fw-bold;
            @extend .txt-mediumgray;
        }
        .person-position{
            //@extend .heading-5;
            @extend .fw-bold;
            @extend .txt-slategray;
        }
        .person-description{
            @extend .txt-slategray;
            font-size: 16px;
        }
    }
}

.separator-line{
    width: 100%;
    height: 5px;
    border:0;
    opacity: 1;
    @extend .bgprimary;
}
.brand{
    @media(max-width: 768px){
        img{
            width: 64px;
        }
    }
}

.podcast{
    .row{
        row-gap: 60px;
    }
    .btn-pill{
        @include button_styles(#fff, #F2B116);
        border: 1px solid #F2B116;
        text-decoration: none;
        column-gap: 10px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        color: $slategray;
        position: relative;
        text-align: right;
        padding: 5px 20px 5px 80px;
    }
}
.play-btn{
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: absolute;
    left: 0;
    .play-btn-circle-out{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $primary;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .play-btn-circle-in{
            width: 80%;
            height: 80%;
            border: 1px solid $white;
            border-radius: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .play-btn-triangle{
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-left: 20px solid $white;
                border-bottom: 15px solid transparent;
                margin-left: 5px;
            }

        }
    }
}
.modal{
    padding:0 !important;
    border:0 !important;
    .btn-close {
        position: absolute;
        left: 10px;
        top: 15px;
        font-size: 24px;
        color: $primary;
    }
}
.modal-dialog{
    border:0;
    max-width: 100%;
    margin: 0;
    .modal-content{
        height: 100vh;
        background:#fff url(../images/img-menu.png) no-repeat;
        background-size: contain;
        background-position: 0% 80%;
        border-radius: 0;
        .btn-icon{
            color: $primary;
        }
    }
    .modal-footer{
        background-color: #4D4D4D;
        height: 100px;
    }
    .navbar-nav{
        .nav-link{
            font-size: 24px;
            font-weight: $bold;
        }
    }
}

.main-navigation{
    .nav-item{

    }
    .nav-item.haschild{
        position: relative;
        &::before{
            content: " ";
            position: absolute;
            top: 5px;
            right: -34px;
            background-image: url('../images/chevron.svg');
            width: 16px;
            height: 16px;
            background-size: contain;
            transform: rotate(90deg);
            cursor: pointer;
        }
        &:hover .child-menu{
            display: block;
        }
        .child-menu{
            display: none;
            position: absolute;
            padding-left: 0;
            min-width: calc(100% + 50px);
            background-color: $white;
            padding: 10px;
            box-shadow: 0px 0px 5px rgba($color: $darkgray, $alpha: .2);
            border-radius: 10px;
            z-index: 100;
            li{
                list-style-type: none;
                margin-bottom: 10px;
                a{
                    text-decoration: none;
                    color: $darkgray;
                    transition: all ease-in .3s;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    }
}// .main-navigation