@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-BlackIt.eot");
  src: url("../font/SourceSansPro-BlackIt.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-BlackIt.woff2") format("woff2"), url("../font/SourceSansPro-BlackIt.woff") format("woff"), url("../font/SourceSansPro-BlackIt.ttf") format("truetype"), url("../font/SourceSansPro-BlackIt.svg#SourceSansPro-BlackIt") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Black.eot");
  src: url("../font/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-Black.woff2") format("woff2"), url("../font/SourceSansPro-Black.woff") format("woff"), url("../font/SourceSansPro-Black.ttf") format("truetype"), url("../font/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Bold.eot");
  src: url("../font/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-Bold.woff2") format("woff2"), url("../font/SourceSansPro-Bold.woff") format("woff"), url("../font/SourceSansPro-Bold.ttf") format("truetype"), url("../font/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-BoldIt.eot");
  src: url("../font/SourceSansPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-BoldIt.woff2") format("woff2"), url("../font/SourceSansPro-BoldIt.woff") format("woff"), url("../font/SourceSansPro-BoldIt.ttf") format("truetype"), url("../font/SourceSansPro-BoldIt.svg#SourceSansPro-BoldIt") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-ExtraLight.eot");
  src: url("../font/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-ExtraLight.woff2") format("woff2"), url("../font/SourceSansPro-ExtraLight.woff") format("woff"), url("../font/SourceSansPro-ExtraLight.ttf") format("truetype"), url("../font/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Light.eot");
  src: url("../font/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-Light.woff2") format("woff2"), url("../font/SourceSansPro-Light.woff") format("woff"), url("../font/SourceSansPro-Light.ttf") format("truetype"), url("../font/SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-It.eot");
  src: url("../font/SourceSansPro-It.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-It.woff2") format("woff2"), url("../font/SourceSansPro-It.woff") format("woff"), url("../font/SourceSansPro-It.ttf") format("truetype"), url("../font/SourceSansPro-It.svg#SourceSansPro-It") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-ExtraLightIt.eot");
  src: url("../font/SourceSansPro-ExtraLightIt.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-ExtraLightIt.woff2") format("woff2"), url("../font/SourceSansPro-ExtraLightIt.woff") format("woff"), url("../font/SourceSansPro-ExtraLightIt.ttf") format("truetype"), url("../font/SourceSansPro-ExtraLightIt.svg#SourceSansPro-ExtraLightIt") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-LightIt.eot");
  src: url("../font/SourceSansPro-LightIt.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-LightIt.woff2") format("woff2"), url("../font/SourceSansPro-LightIt.woff") format("woff"), url("../font/SourceSansPro-LightIt.ttf") format("truetype"), url("../font/SourceSansPro-LightIt.svg#SourceSansPro-LightIt") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-SemiboldIt.eot");
  src: url("../font/SourceSansPro-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-SemiboldIt.woff2") format("woff2"), url("../font/SourceSansPro-SemiboldIt.woff") format("woff"), url("../font/SourceSansPro-SemiboldIt.ttf") format("truetype"), url("../font/SourceSansPro-SemiboldIt.svg#SourceSansPro-SemiboldIt") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Regular.eot");
  src: url("../font/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-Regular.woff2") format("woff2"), url("../font/SourceSansPro-Regular.woff") format("woff"), url("../font/SourceSansPro-Regular.ttf") format("truetype"), url("../font/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Semibold.eot");
  src: url("../font/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../font/SourceSansPro-Semibold.woff2") format("woff2"), url("../font/SourceSansPro-Semibold.woff") format("woff"), url("../font/SourceSansPro-Semibold.ttf") format("truetype"), url("../font/SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*color*/
/*Width*/
/*end Width*/
.bgprimary, .separator-line, .news-information, .divider-bottom-primary span::after, .divider-top-primary span::after {
  background-color: #FFC12D;
}

.bgsecondary {
  background-color: #E79D00;
}

.bgtertiary, .divider-bottom-tertiary span::after {
  background-color: #FFF9F2;
}

.bglightgray, .divider-bottom-lightgray span::after, .divider-top-lightgray span::after {
  background-color: #F8F8F8;
}

.bgwhite {
  background-color: #ffffff;
}

.bgred {
  background-color: #D7292E;
}

.bggreen {
  background-color: #22AF72;
}

.bgblue {
  background-color: #005D96;
}

.bgmaroon {
  background-color: #552E1A;
}

.bgdarkgray {
  background-color: #192626;
}

.bggray {
  background-color: #ECECEC;
}

.txt-primary, .card-box .heading:first-letter {
  color: #FFC12D;
}

.txt-tertiary {
  color: #FFF9F2;
}

.txt-secondary {
  color: #E79D00;
}

.txt-darkgray {
  color: #192626;
}

.txt-mediumgray, .card-person .box-content .person-name {
  color: #182C2C;
}

.txt-slategray, .card-person .box-content .person-description, .card-person .box-content .person-position {
  color: #707070;
}

.txt-white {
  color: #ffffff;
}

.txt-red {
  color: #D7292E;
}

.txt-green {
  color: #22AF72;
}

.txt-blue {
  color: #005D96;
}

.txt-maroon {
  color: #552E1A;
}

/*border*/
/*typography*/
/*font weight*/
/*button mixin*/
.btn-primary {
  background-color: #DAA10D;
  color: #fff;
  border-radius: 100px;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1024px) {
  .btn-primary {
    font-size: 18px;
  }
}
.btn-primary:hover {
  background-color: #FFC12D;
  color: #ffffff;
}
.btn-primary:focus {
  background-color: #FFC12D;
  color: #ffffff;
}
.btn-primary img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.btn-secondary {
  background-color: #F2F2F2;
  color: #343434;
  border-radius: 100px;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .btn-secondary {
    font-size: 18px;
  }
}
.btn-secondary:hover {
  background-color: #707070;
  color: #ffffff;
}

.btn-white {
  background-color: #ffffff;
  color: #343434;
  border-radius: 100px;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .btn-white {
    font-size: 18px;
  }
}
.btn-white:hover {
  background-color: #707070;
  color: #ffffff;
}

.btn-link {
  text-decoration: none;
  color: #707070;
  font-size: 20px;
}
.btn-link:hover {
  color: #FFC12D;
}

.btn-icon img {
  margin-left: 20px;
  height: 14px;
}
.btn-icon--breadcrumb {
  color: #192626;
}
.btn-icon--breadcrumb img {
  margin-left: 0;
  height: 14px;
  margin-right: 20px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

.btn-toggle {
  border-radius: 0;
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-toggle img {
  margin-right: 40px;
}
.btn-toggle:hover {
  background-color: #e9e9e9;
  color: #FFC12D;
}

/*override container*/
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1300px;
  }
  .btn-lg {
    padding: 11px 57px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1300px;
  }
}
body {
  font-family: "Source Sans Pro";
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 500;
}

.fw-bold, .card-person .box-content .person-position, .card-person .box-content .person-name, .card-box .heading {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 900;
}

.bg-stretch {
  position: relative;
  overflow: hidden;
}

.bg-stretch .container,
.bg-stretch .row {
  position: relative;
  z-index: 2;
}

.bg-stretch .bg-stretch-left {
  height: 100%;
  position: relative;
  left: 0;
  z-index: 1;
}
@media (min-width: 1200px) {
  .bg-stretch .bg-stretch-left {
    border-radius: 0 50px 50px 0;
  }
}

.bg-stretch .bg-stretch-left::before {
  background-color: inherit;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 1;
}

.bg-stretch .bg-stretch-right {
  height: 100%;
  position: relative;
  right: 0;
  z-index: 1;
}
@media (min-width: 1200px) {
  .bg-stretch .bg-stretch-right {
    border-radius: 50px 0 0 50px;
  }
}

.bg-stretch .bg-stretch-right::after {
  background-color: inherit;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 1;
}

.divider-top-primary {
  margin-top: -25px;
}
.divider-top-primary span::after {
  content: " ";
  height: 0;
  padding-top: 5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  display: block;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.divider-bottom-primary {
  margin-top: -25px;
}
.divider-bottom-primary span::after {
  content: "";
  height: 0;
  padding-top: 5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  display: block;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.divider-bottom-tertiary {
  margin-top: -25px;
  position: relative;
  z-index: 9999;
}
.divider-bottom-tertiary span::after {
  content: "";
  height: 0;
  padding-top: 5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  display: block;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.divider-top-lightgray {
  margin-top: -25px;
}
.divider-top-lightgray span::after {
  content: " ";
  height: 0;
  padding-top: 5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  display: block;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.divider-bottom-lightgray {
  margin-top: -25px;
  position: relative;
  z-index: 9999;
}
.divider-bottom-lightgray span::after {
  content: "";
  height: 0;
  padding-top: 5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  display: block;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.vertical-line {
  content: "";
  width: 2px;
  height: 80px;
  background-color: #F2B116;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .vertical-line {
    top: 30px;
  }
}
.vertical-line--herohome {
  height: 50px;
  top: -70px;
  display: block;
}
@media (max-width: 980px) {
  .vertical-line--herohome {
    top: -35px;
    height: 30px;
  }
}
.vertical-line--career {
  height: 50px;
  top: -120px;
  display: block;
}
@media (max-width: 980px) {
  .vertical-line--career {
    top: -65px;
    height: 30px;
  }
}

.hero-heading {
  height: 400px;
}
@media (min-width: 1200px) {
  .hero-heading {
    height: 530px;
  }
}

.hero-imgcover {
  margin-top: -15vw;
}
@media (max-width: 768px) {
  .hero-imgcover {
    margin-top: calc(-25vh + 20px);
  }
}
.hero-imgcover .container-overlap {
  margin-top: -45vw;
}

.hero-contact {
  margin-top: -350px;
}
.hero-contact .img-cover {
  height: 900px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-contact .container-overlap {
  margin-top: -500px;
}
@media (max-width: 1028px) {
  .hero-contact .container-overlap {
    margin-top: -550px;
  }
}

.with-divider {
  content: "";
}
.with-divider h2:before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 25px;
  background: #FFC12D;
}
.with-divider h2 span {
  padding: 0 20px;
  display: block;
}
@media (min-width: 1200px) {
  .with-divider h2 span {
    display: inline-block;
  }
}

.rounded40 {
  border-radius: 40px;
}

/* -----------------main navigation----------------*/
.main-navigation {
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .main-navigation {
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
  }
}
@media (min-width: 1200px) {
  .main-navigation .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.main-navigation .navbar .nav-item .nav-link {
  font-size: 18px;
  color: #182C2C;
  font-weight: 900;
}
.main-navigation .navbar .nav-item .nav-link:hover {
  color: #FFC12D;
}
@media (max-width: 1024px) {
  .main-navigation .navbar .nav-item .nav-link {
    font-size: 18px;
  }
}
.main-navigation .navbar .nav-item .nav-btn {
  background-color: #DAA10D;
  color: #fff;
  border-radius: 100px;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .main-navigation .navbar .nav-item .nav-btn {
    font-size: 18px;
  }
}
.main-navigation .navbar .nav-item .nav-btn:hover {
  background-color: #FFC12D;
  color: #ffffff;
}

.hero {
  min-height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .container {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .hero {
    min-height: 80vh;
  }
  .hero .container {
    min-height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-slider .card {
  border-radius: 60px;
}
.card-slider .card-text h3 {
  margin-bottom: 50px;
}
.card-slider .card-text a {
  font-size: 16px;
  color: #707070;
  text-decoration: none;
  margin-top: 140px;
  display: block;
  background: url(/assets/images/chevron.png) no-repeat;
  background-size: contain;
  height: 10px;
}
.card-slider .carousel-indicators {
  position: relative !important;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-slider .carousel-indicators button {
  font-size: 18px;
  font-weight: 900;
  width: inherit;
  height: inherit;
  margin: 0;
  text-transform: capitalize;
  border-bottom: 5px solid #ffffff;
  padding: 0 20px 10px;
  color: #182C2C;
}
.card-slider .carousel-indicators .active {
  border-bottom: 5px solid #FFC12D;
  padding: 0 20px 10px;
}
.card-slider .carousel-indicators [data-bs-target] {
  text-indent: inherit;
  opacity: 1 !important;
}

#carousel-home {
  padding: 75px 20px;
  padding-top: 150px;
  background-color: #ffffff;
  border-radius: 25px;
}
@media (max-width: 768px) {
  #carousel-home {
    padding: 20px 10px;
    padding-top: 30px;
  }
}
#carousel-home .carousel-indicators {
  bottom: unset;
  top: 50px;
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media (min-width: 768px) {
  #carousel-home .carousel-indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#carousel-home .carousel-indicators [data-bs-target] {
  width: auto;
  height: unset;
  text-indent: 0;
  font-weight: 700;
  padding: 0 10px 5px 10px;
}
#carousel-home .carousel-inner {
  /*width: 80%;*/
  margin: 0 auto;
}
#carousel-home .label-indicator {
  border-bottom: 2px solid transparent;
  background-color: transparent;
  text-align: left;
}
#carousel-home .label-indicator.active {
  border-bottom: 3px solid #FFC12D;
}
#carousel-home button {
  opacity: 1;
}
#carousel-home .carousel-indicators,
#carousel-home .carousel-inner {
  padding: 0 40px;
}
@media (max-width: 768px) {
  #carousel-home .carousel-indicators,
  #carousel-home .carousel-inner {
    padding: 0 20px;
  }
}
#carousel-home .carousel-control-next, #carousel-home .carousel-control-prev {
  width: 8%;
}
#carousel-home .carousel-control-prev-icon {
  background-image: url("../images/arrow-dark.svg");
  width: 48px;
  height: 48px;
}
#carousel-home .carousel-control-prev-icon:hover {
  background-image: url("../images/arrow-yellow.svg");
}
#carousel-home .carousel-control-next-icon {
  background-image: url("../images/arrow-dark.svg");
  width: 48px;
  height: 48px;
  rotate: 180deg;
}
#carousel-home .carousel-control-next-icon:hover {
  background-image: url("../images/arrow-yellow.svg");
  rotate: 180deg;
}

#carouselTimeline {
  padding: 0 50px;
}
@media (max-width: 576px) {
  #carouselTimeline {
    padding: 0 10px;
  }
}
#carouselTimeline .carousel-inner {
  padding: 1em;
}
#carouselTimeline .card {
  margin: 0 15px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  font-size: 0.9em;
  position: relative;
  z-index: 2;
  min-height: 100%;
}
#carouselTimeline .card::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ffffff;
}
#carouselTimeline .carousel-indicators {
  bottom: -50px;
}
#carouselTimeline .carousel-control-prev,
#carouselTimeline .carousel-control-next {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  z-index: 2;
}
#carouselTimeline .carousel-control-prev:hover,
#carouselTimeline .carousel-control-next:hover {
  opacity: 0.8;
}
#carouselTimeline .carousel-control-prev {
  left: -16px;
}
#carouselTimeline .carousel-control-next {
  right: -16px;
}
@media screen and (min-width: 992px) {
  #carouselTimeline .carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #carouselTimeline .carousel-item {
    display: block;
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  #carouselTimeline .img-wrapper {
    height: 21vw;
  }
}

#carousel-timeline {
  padding: 0 40px;
}
#carousel-timeline .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0 -5px;
  margin-left: 0;
}
#carousel-timeline .slick-slide {
  height: inherit !important;
  margin: 0 5px;
}
#carousel-timeline .slick-slide > div {
  height: 100%;
}
#carousel-timeline .carousel-timeline-item {
  height: 100%;
  padding: 2.5px 0;
}
#carousel-timeline .card {
  margin: 0 15px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  font-size: 0.9em;
  position: relative;
  z-index: 2;
  min-height: 100%;
}
#carousel-timeline .card::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ffffff;
}
#carousel-timeline .timeline-year {
  margin-bottom: 20px;
  font-weight: 700;
}
#carousel-timeline .timeline-year span {
  border-bottom: 4px solid #FFC12D;
}
#carousel-timeline .slick-dots {
  bottom: unset;
  top: calc(100% + 20px);
  left: 0;
}
#carousel-timeline .slick-dots .slick-active button {
  border: 2px solid #ffffff;
  border-radius: 100%;
}
#carousel-timeline .slick-dots .slick-active button:before {
  color: #ffffff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#carousel-timeline .slick-dots li button:before {
  color: #ffffff;
  opacity: 1;
  font-size: 13px;
  padding: 2px;
}

.carousel-timeline-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.carousel-timeline-btn.arrow-prev {
  left: 0;
}
.carousel-timeline-btn.arrow-next {
  right: 0;
}
.carousel-timeline-btn.arrow-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.carousel-timeline-btn img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 100%;
  height: auto;
}

.timeline {
  padding-top: 200px;
  padding-bottom: 100px;
  margin-top: -100px;
}

#carousel-division {
  padding: 0 40px;
}
#carousel-division .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0 -25px;
  margin-left: 0;
}
#carousel-division .slick-slide {
  height: inherit !important;
  margin: 0 25px;
}
#carousel-division .slick-slide > div {
  height: 100%;
}
#carousel-division .carousel-division-item {
  height: 100%;
  padding: 2.5px 0;
}
#carousel-division .card {
  margin: 0 15px;
  border-radius: 10px;
  font-size: 0.9em;
  position: relative;
  z-index: 2;
  min-height: 100%;
}
#carousel-division .timeline-year {
  margin-bottom: 20px;
  font-weight: 700;
}
#carousel-division .timeline-year span {
  border-bottom: 4px solid #FFC12D;
}
#carousel-division .slick-dots {
  bottom: unset;
  top: calc(100% + 20px);
  left: 0;
}
#carousel-division .slick-dots .slick-active button {
  border: 2px solid #FFC12D;
  border-radius: 100%;
}
#carousel-division .slick-dots .slick-active button:before {
  color: #FFC12D;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#carousel-division .slick-dots li button:before {
  color: #FFC12D;
  opacity: 1;
  font-size: 13px;
  padding: 2px;
}
#carousel-division .btn-link.btn-icon img {
  display: inline-block;
}

.carousel-division-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.carousel-division-btn.arrow-prev {
  left: 64px;
}
.carousel-division-btn.arrow-prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.carousel-division-btn.arrow-next {
  right: 36px;
}
.carousel-division-btn img {
  width: 100%;
  height: auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.content-textimg .contentwrap {
  z-index: 100;
}
.content-textimg .col-text {
  /*row-gap: 48px;
  display: flex;
  flex-direction: column;*/
}
.content-textimg .img-text {
  position: relative;
  margin-bottom: 80px;
}
@media (min-width: 1200px) {
  .content-textimg .img-text {
    margin-bottom: 180px;
  }
  .content-textimg .img-text .col-text {
    padding-left: 60px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.content-textimg .img-text .line-strip::before {
  top: 70px;
}
@media (min-width: 1200px) {
  .content-textimg .text-img .col-text {
    padding-right: 60px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.content-textimg .text-img .line-strip::before {
  top: 70px;
  bottom: inherit;
}
@media (min-width: 1200px) {
  .content-textimg .text-img .line-strip::before {
    bottom: 100px;
    top: inherit;
  }
}
.content-textimg .line-strip::before {
  content: "";
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  background: #FFC12D;
}

.finhub-featured .border-primary {
  border-color: #FFC12D !important;
}
.finhub-featured .line-strip::before {
  content: "";
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #FFC12D;
}

.apps-preview {
  margin-bottom: 100px;
}
.apps-preview .btn {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .apps-preview .btn {
    margin-top: 100px;
  }
}
.apps-preview .badge-download {
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.brand-partner {
  padding: 100px 0;
}
.brand-partner .logo-partner .card {
  border-radius: 40px;
  border: 2px solid #FFC12D;
  height: 160px;
}
@media (min-width: 1200px) {
  .brand-partner .logo-partner .card {
    height: 193px;
  }
}
.brand-partner .logo-partner .card img {
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1200px) {
  .brand-partner .logo-partner .card img {
    height: 154px;
  }
}

.news-information {
  padding: 100px 0;
}
.news-information .card-news {
  margin-bottom: 80px;
}
@media (min-width: 1200px) {
  .news-information .card-news {
    margin-bottom: 160px;
  }
}
.news-information .col-4 {
  width: 419px;
  padding: 0;
}
.news-information .card {
  border-radius: 20px;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-information .card .card-body .heading-4 {
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 32px;
}
.news-information .card .card-body p {
  /*color: $txt-secondary;*/
  max-width: 294px;
}
@media (min-width: 1200px) {
  .news-information .img-text .col-text {
    padding-left: 60px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.article a {
  color: #192626;
  text-decoration: none;
}
.article a:hover {
  color: #707070;
}

.contactform .form-control {
  line-height: 34px;
}
@media (min-width: 1200px) {
  .contactform .form-control {
    line-height: 44px;
  }
}
.contactform textarea {
  border-radius: 30px;
}
@media (max-width: 576px) {
  .contactform .btn {
    width: 100%;
  }
}

.site-footer .socialmedia ul li {
  margin-left: 10px;
}
.site-footer .col-2-half {
  width: 300px;
  margin-right: 50px;
}
.site-footer .col-3-half {
  width: 211px;
  margin-right: 50px;
}
.site-footer a {
  font-size: 20px;
  color: #182C2C;
  text-decoration: none;
  font-style: italic;
}
.site-footer a:hover {
  color: #FFC12D;
}
.site-footer .subscribe .form-control {
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #707070;
  outline: none;
}
.site-footer .subscribe input[type=email] {
  font-size: 16px;
  color: #BEBEBE;
  outline: none;
}
.site-footer .subscribe .btn-primary {
  font-size: 20px;
  min-width: 150px;
  line-height: 28px;
  border-radius: 8px;
  font-weight: 700;
}

.card-box {
  width: 100%;
  height: 100%;
}
.card-box .heading {
  font-size: 2rem;
}
.card-box .heading:first-letter {
  font-size: 2.5rem;
}
.card-box .description {
  /*color: $txt-secondary;*/
}

.card-person {
  overflow: hidden;
  position: relative;
  /*background-color: $white;*/
  border-bottom: 20px solid #FFC12D;
  height: 100%;
}
.card-person .img-person-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  /*@media(max-width: $md){
      height: 350px;
  }*/
}
.card-person .img-person-wrapper .img-person {
  display: block;
  width: 100%;
}
.card-person .box-layer {
  background-color: rgba(255, 193, 45, 0.75);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.card-person .box-layer .contact-social-media {
  display: inline-block;
}
.card-person .box-layer .contact-social-media img {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
}
.card-person .box-layer .contact-email {
  display: block;
}
.card-person .box-layer .contact-email a {
  color: #ffffff;
  text-decoration: none;
}
.card-person .box-layer .contact-email img {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 10px;
}
.card-person .box-content {
  position: relative;
  padding: 20px;
}
.card-person .box-content .person-description {
  font-size: 16px;
}

.separator-line {
  width: 100%;
  height: 5px;
  border: 0;
  opacity: 1;
}

@media (max-width: 768px) {
  .brand img {
    width: 64px;
  }
}

.podcast .row {
  row-gap: 60px;
}
.podcast .btn-pill {
  background-color: #fff;
  color: #F2B116;
  border-radius: 100px;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #F2B116;
  text-decoration: none;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #707070;
  position: relative;
  text-align: right;
  padding: 5px 20px 5px 80px;
}
@media (max-width: 1024px) {
  .podcast .btn-pill {
    font-size: 18px;
  }
}

.play-btn {
  width: 64px;
  height: 64px;
  overflow: hidden;
  position: absolute;
  left: 0;
}
.play-btn .play-btn-circle-out {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFC12D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.play-btn .play-btn-circle-out .play-btn-circle-in {
  width: 80%;
  height: 80%;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.play-btn .play-btn-circle-out .play-btn-circle-in .play-btn-triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #ffffff;
  border-bottom: 15px solid transparent;
  margin-left: 5px;
}

.modal {
  padding: 0 !important;
  border: 0 !important;
}
.modal .btn-close {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 24px;
  color: #FFC12D;
}

.modal-dialog {
  border: 0;
  max-width: 100%;
  margin: 0;
}
.modal-dialog .modal-content {
  height: 100vh;
  background: #fff url(../images/img-menu.png) no-repeat;
  background-size: contain;
  background-position: 0% 80%;
  border-radius: 0;
}
.modal-dialog .modal-content .btn-icon {
  color: #FFC12D;
}
.modal-dialog .modal-footer {
  background-color: #4D4D4D;
  height: 100px;
}
.modal-dialog .navbar-nav .nav-link {
  font-size: 24px;
  font-weight: 700;
}

.main-navigation .nav-item.haschild {
  position: relative;
}
.main-navigation .nav-item.haschild::before {
  content: " ";
  position: absolute;
  top: 5px;
  right: -34px;
  background-image: url("../images/chevron.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}
.main-navigation .nav-item.haschild:hover .child-menu {
  display: block;
}
.main-navigation .nav-item.haschild .child-menu {
  display: none;
  position: absolute;
  padding-left: 0;
  min-width: calc(100% + 50px);
  background-color: #ffffff;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(25, 38, 38, 0.2);
          box-shadow: 0px 0px 5px rgba(25, 38, 38, 0.2);
  border-radius: 10px;
  z-index: 100;
}
.main-navigation .nav-item.haschild .child-menu li {
  list-style-type: none;
  margin-bottom: 10px;
}
.main-navigation .nav-item.haschild .child-menu li a {
  text-decoration: none;
  color: #192626;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.main-navigation .nav-item.haschild .child-menu li a:hover {
  color: #FFC12D;
}